@model IEnumerable<AlertMns.Models.Company>

@{
    ViewData["Title"] = "Organisations";
}
<div class="container-fluid bg-lightblue main-container">
    <div class="main-header bg-lightblue">
        <a class="button-burger">
            <img src="~/img/burger-menu-w.svg" class="img-burger" alt="Image menu" />
        </a>
        <h1>Gestion dee l'organisation</h1>
        <a>
            <img src="~/img/notifications-white.svg" class="img-notifications" alt="Image des notifications" />
        </a>
    </div>
    <div class="container-main-content">
        <div class="container-centered">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.CompanyId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

